<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head(titel='Opslag')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<div class="alert alert-warning" th:if="${werknemer}==null" th:text="|${id} is een ongeldige id, werknemer bestaat niet|"></div>
<div class="container" style="margin-left: 30px" th:if="${werknemer}!=null" th:object="${werknemer}">
    <h1 th:text= "|Opslag voor *{voornaam} *{familienaam}|"></h1>
    <dl>
        <dt>Huidig salaris</dt>
        <dd th:text="*{{salaris}}"></dd>
    </dl>
    <form th:object="${opslagForm}" method="post" th:action="@{/werknemers}">
        <div class="form-group" >
            <input th:field="*{werknemerid}" type="hidden">
            <label>Bedrag<span th:errors="*{opslag}"></span>
                <input class="form-control" th:field="*{opslag}" autofocus required type="number" min="1">
            </label>
        </div>
        <input class="btn btn-light" type="submit" value="Opslag">
    </form>
</div>

</body>
</html>